/* Add custom CSS */

#js-navbar .logo{
    font-size: xx-large;
}
#js-navbar .logo-bar{
    width: 100%;
    height: 1px;
    border-bottom: 3px solid var(--color-primary);
}

.single-feature-img img{
    margin: auto;
}

.caroussel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    width: 100%;
    margin: auto;
}

.caroussel-img{
    height: 250px;
    width: 500px;
    margin: 0 10px;
}