{{ define "main" }}
<div class="container">
  <section class="page-header--c">
    <h1 class="page-header-title">{{ .Title }}</h1>
  </section>
</div>
<div class="contact">
  <div class="single-container markdown">{{ .Content }}</div>
  <form id="contact-form" class="single-container" name="contact" method="POST">
    <input type="text" class="contact-form--input" name="name" placeholder="Votre nom..." title="Votre nom" required>
    <input type="email" class="contact-form--input" name="email" placeholder="Votre email favori..." title="Votre email favori" required>
    <textarea class="contact-form--textarea" name="message" placeholder="Votre petit mot..." title="Votre petit mot" required></textarea>
    <button type="submit" id="contact-form--submit" class="btn-primary">Envoyer</button>
  </form>
</div>
{{ end }}